header{
    background-color: var(--md-sys-color-on-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    background-color:var( --md-sys-color-secondary);

}
img{
    width: 30%;
    top:40%;
}
footer{
    background-color: var(--md-sys-color-primary-container);

}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 90%;
    margin: 20px;
}