/* Estilos generales */
body {
    background-color: #f5e3d8;;
    margin: 0;
    padding: 0;
}


/* ---- HEADER ---- */
header {
    background-color: var(--md-sys-color-primary);
    display: flex;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 180px;
}

.principal{
    display: flex;
    align-items: center;
}

/* ---- MENU FIJO ---- */
.menu {
    position: fixed; /* Fija el menú en la parte superior */
    top: 0; /* Se mantiene en la parte superior */
    right: 0;
    width: 100%; /* Ocupa todo el ancho */
    height: 12%;
    background-color: rgb(89 32 25); /* Color de fondo */
    border: #c19a6b solid 2px;
    z-index: 1000; /* Se asegura que esté por encima del contenido */
    padding: 10px 0; /* Espaciado superior e inferior */
    margin-left: 60%;
}

/* Estilos del menú */
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /* Asegura alineación vertical */
    gap: 30px; /* Espacio entre los elementos del menú */
    margin-left: 40%;
}

/* Estilo de cada ítem del menú */
.menu ul li {
    font-size: 20px;
    font-weight: bold;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between; /* o center, dependiendo del diseño */
    padding: 10px
}

/* Enlaces del menú */
nav a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    border-radius: 8px;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

/* Efecto hover en los enlaces */
nav a:hover {
    background-color: #c19a6b;
    color: var(--md-sys-color-primary);
}


/* Logo en la esquina superior izquierda */
#logo {
    width: 50px;
    z-index: 1000;
    height: 50px;
    margin-right: 15px;
    margin-left: 26px;
    border-radius: 30%;
}

#logo2{
    width: 50px;
    z-index: 1000;
    height: 50px;
    margin-left: -150px;
    margin-right: 26px;
    border-radius: 30%;

}

.seccion{
    
    margin-right: 0px;
    color: rgb(239, 215, 171);
    font-weight: bold;
}

.menu-perfil{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;
    gap: 20px;
}

#titulo{
    font-size: 20px;
    color: rgb(239, 215, 171);
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: 2px 2px 4px black;
    margin-left: -150px;
    margin-right: 400px;
    left: 0;
}

/* ---- CONTENIDO ---- */
body {
    font-family: 'Georgia', serif;
    background-color: rgb(89 32 25); /* Color de fondo suave */
    color: #3d405b; /* Color de texto principal */
    margin: 0;
    padding: 0;
}

.formulario-edicion {
    font-family: 'Georgia', serif;;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.formulario-edicion .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.formulario-edicion .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
}

.formulario-edicion .btn-primary {
    background-color: rgb(189, 69, 54); 
    color: white;
}

.formulario-edicion .btn-primary:hover {
    background-color: rgb(89 32 25); 
}

.formulario-edicion .btn-secondary {
    background-color: #c19a6b; 
    color: white;
}

.formulario-edicion .btn-secondary:hover {
    background-color: #866337; 
}

.formulario-edicion h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
}

/* ---- FOOTER ---- */
footer {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgb(89 32 25);
    color: #f0d28c;
    text-shadow: 2px 2px 4px rgb(51, 10, 10);
    padding: 20px;
    flex-wrap: wrap;
    width: 100%;
}

footer div {
    margin: 10px;
}

h2 {
    font-size: 18px;
    font-weight: bold;

    text-transform: uppercase;
}

ul {
    list-style: none;
    padding: 0;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

#Col1 img {
    width: 160px;
    margin-left: 20px;
    border-radius: 20px;
}

#Col4 img {
    width: 40px;
    height: 40px;
    margin-left: 3px;
    margin-right: 10px;
}

#Col4 h2{
    margin-left: 30px;
}

