<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="Styles/other/stylesEditarPerf.css">
</head>

<header class="header">
    <div class= "principal">
        

        <nav class="menu">
            
            <img id="logo" src="/Imagenes/logoRecortado.jpg" alt="Logo">

            <h1 id = "titulo"> PASTA E 
                <br> PASSIONE </h1>

                <div class="menu-perfil">
                    <a class="seccion" href="/homeCliente">Home</a>
                    <a class="seccion" href="/perfil">Editar perfil</a>
                    <a class="seccion" href="/logout">Mis pedidos</a>
                    <a class="seccion" href="/logout">Historial de pedidos</a>
                    
                </div>

            <img id="logo2" src="/Imagenes/logoRecortado.jpg" alt="Logo">
        </nav>    
    </div>
</header>

<body>


    
</body>

<footer id="contacto">
    <div id="Col1">
        <img id="logoFooter" src="Imagenes/logo.jpg" alt="Logo">
        <p>Todos los derechos reservados</p>
    </div>
    <div id="Col2">
        <h2>ACERCA DE NOSOTROS</h2>
        <ul>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Domicilios</a></li>
            <li><a href="#">Menú</a></li>
            <li><a href="#">Lo Nuevo</a></li>
        </ul>
    </div>
    <div id="Col3">
        <h2>AYUDA</h2>
        <ul>
            <li><a href="#">Habla con Nosotros</a></li>
            <li><a href="#">Certificados</a></li>
            <li><a href="#">Trabaja con Nosotros</a></li>
            <li><a href="#">Términos y Condiciones</a></li>
            <li><a href="#">Política de Tratamiento de Datos</a></li>
        </ul>
    </div>
    <div id="Col4">
        <h2>SÍGUENOS</h2>
        <a href="#"><img src="Imagenes/SocialMedia/instagram.png" alt="Instagram"></a>
        <a href="#"><img src="Imagenes/SocialMedia/Facebook.png" alt="Facebook"></a>
        <a href="#"><img src="Imagenes/SocialMedia/X.png" alt="Twitter"></a>
    </div>
</footer>

</html>