<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/Styles/other/stylesLogin.css}">
</head>

<body>
    <header class="header">
        <div class= "principal">
            

            <nav class="menu">
                
                <img id="logo" src="/Imagenes/logoRecortado.jpg" alt="Logo">
                <h1 id = "titulo"> PASTA E 
                    <br> PASSIONE </h1>
                <img id="logo2" src="/Imagenes/logoRecortado.jpg" alt="Logo">
            </nav>    
        </div>
    </header>


    <div class="container">
        <div class="login-box">
            <div class="image-container left">
                <img src="/Imagenes/menu/platoprincipal/Pizza-Prosciutto.jpg" alt="Pizza">
            </div>

            <div class="form-container">
                <h2 class="title">Pasta e Passione</h2>
                <p class="subtitle">¡¿Qué esperas para ser parte de la familia?!</p>

                <form th:action="@{/login}" method="post">
                    <div class="input-group">
                        <label>Correo</label>
                        <input type="email" name="correo" placeholder="Ingresa tu correo" required>
                    </div>
                
                    <div class="input-group">
                        <label>Contraseña</label>
                        <input type="password" name="contrasena" placeholder="••••••••" required>
                    </div>
                    <p style="color: red;" th:if="${error}" th:text="${error}"></p>
                    <button type="submit" class="btn">Iniciar Sesión</button>
                </form>
                

                <p class="register-text">¿No tienes cuenta? <a href="/registro">Regístrate aquí</a></p>
            </div>

            <div class="image-container right">
                <img src="/Imagenes/menu/platoprincipal/Pizza-Margherita.jpg" alt="Pizza">
            </div>
        </div>
    </div>
    
</body>
</html>