<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú del Restaurante</title>
    <link rel="stylesheet" href="/Styles/other/stylesmenu.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#entradas">Entradas</a></li>
            <li><a href="#platos-principales">Platos Principales</a></li>
            <li><a href="#postres">Postres</a></li>
            <li><a href="#bebidas">Bebidas</a></li>
        </ul>
    </nav>
    <div class="portada">
        <img src="Imagenes/carruselPlatos/pasta1.jpg" alt="Plato 4">
    </div>
    <!-- Contenedor para el menú dinámico -->
    <div id="menu-contenedor"></div>

    <!-- Cargar el archivo JS -->
    <script src="/js/menu.js"></script>
</body>
</html>
