<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú del Restaurante</title>
    <link rel="stylesheet" href="/Styles/other/stylesmenu.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#entradas">Entradas</a></li>
            <li><a href="#platos-principales">Platos Principales</a></li>
            <li><a href="#postres">Postres</a></li>
            <li><a href="#bebidas">Bebidas</a></li>
        </ul>
    </nav>
    <div class="portada">
        <img src="Imagenes/Menu/introMenu.jpg" alt="Plato 4">
    </div>
    <!-- Contenedor para el menú dinámico -->
    <div id="menu-contenedor"></div>

    <!-- Cargar el archivo JS -->
    <script src="/js/menu.js"></script>
</body>

<footer id="contacto">
    <div id="Col1">
        <img id="logoFooter" src="Imagenes/logo.jpg" alt="Logo">
        <p>Todos los derechos reservados</p>
    </div>
    <div id="Col2">
        <h2>ACERCA DE NOSOTROS</h2>
        <ul>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Domicilios</a></li>
            <li><a href="#">Menú</a></li>
            <li><a href="#">Lo Nuevo</a></li>
        </ul>
    </div>
    <div id="Col3">
        <h2>AYUDA</h2>
        <ul>
            <li><a href="#">Habla con Nosotros</a></li>
            <li><a href="#">Certificados</a></li>
            <li><a href="#">Trabaja con Nosotros</a></li>
            <li><a href="#">Términos y Condiciones</a></li>
            <li><a href="#">Política de Tratamiento de Datos</a></li>
        </ul>
    </div>
    <div id="Col4">
        <h2>SÍGUENOS</h2>
        <a href="#"><img src="Imagenes/SocialMedia/instagram.png" alt="Instagram"></a>
        <a href="#"><img src="Imagenes/SocialMedia/Facebook.png" alt="Facebook"></a>
        <a href="#"><img src="Imagenes/SocialMedia/X.png" alt="Twitter"></a>
    </div>
</footer>

</html>
