<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU TABLA</title>
    <link rel="stylesheet" th:href="@{/Styles/other/stylesTablaMenu.css}">
    <script th:src="@{/js/menuTabla.js}"></script>
</head>
<body>
    <div class="container mt-4">
        <h1>MENU TABLA</h1>
        <div class="mb-3">
            <input type="text" class="form-control" id="searchInput" placeholder="Buscar...">
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped shadow rounded">
                <thead>
                    <tr>
                        <th>Plato</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Tipo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="producto : ${productos}">
                        <td th:text="${producto.nombre}"></td>
                        <td th:text="${producto.descripcion}"></td>
                        <td th:text="${producto.precio}"></td>
                        <td th:text="${producto.categoria}"></td>
                        <td>
                            <a th:href="@{/producto/editar/{id}(id=${producto.producto_id})}" class="btn btn-primary btn-sm">Editar</a>
                            <a th:href="@{/producto/eliminar/{id}(id=${producto.producto_id})}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <button id="prevButton" class="page-link">Anterior</button>
                </li>
                <li class="page-item">
                    <button id="nextButton" class="page-link">Siguiente</button>
                </li>
            </ul>
        </nav>
        <div class="text-center mt-3">
            <a href="/producto/agregar" class="btn btn-success">Agregar Producto</a>
        </div>
    </div>

    <script src="/js/menuTabla.js"></script>
</body>
</html>
