<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU TABLA</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Styles/other/stylesTablaMenu.css">
</head>

<header class="header">
    <div class="principal">
        <nav class="menu">
            <img id="logo" th:src="@{/Imagenes/logoRecortado.jpg}" alt="Logo">
            <h1 id="titulo"> PASTA E <br> PASSIONE </h1>
            <div class="menu-perfil">
                <a class="seccion" href="/homeAdmin">Inicio</a>
                <a class="seccion" href="/homeAdmin/usuarios">Clientes</a>
                <a class="seccion" href="/homeAdmin/productos">Productos</a>
                <a class="seccion" href="/homeAdmin/adicionales">Adicionales</a>
            </div>
            <img id="logo2" src="/Imagenes/logoRecortado.jpg" alt="Logo">
        </nav>    
    </div>
</header>


<body>
    <div class="container mt-4">
        <h1>MENU TABLA</h1>
        <div class="mb-3">
            <input type="text" class="form-control" id="searchInput" placeholder="Buscar...">
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped shadow rounded">
                <thead>
                    <tr>
                        <th>Plato</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Tipo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="producto : ${productos}">
                        <td th:text="${producto.nombre}"></td>
                        <td th:text="${producto.descripcion}"></td>
                        <td th:text="${producto.precio}"></td>
                        <td th:text="${producto.categoria}"></td>
                        <td>
                            <a th:href="@{/producto/editar/{id}(id=${producto.producto_id})}" class="btn btn-primary btn-sm">Editar</a>
                            <a th:href="@{/producto/eliminar/{id}(id=${producto.producto_id})}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <button id="prevButton" class="page-link">Anterior</button>
                </li>
                <li class="page-item">
                    <button id="nextButton" class="page-link">Siguiente</button>
                </li>
            </ul>
        </nav>
        <div class="text-center mt-3">
            <a href="/producto/agregar" class="btn btn-success">Agregar Producto</a>
        </div>
    </div>

    <script src="/js/menuTabla.js"></script>
</body>
</html>
